*{
    padding: 0;
    margin: 0;
}
section{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#cursor{
    height: 1.25vw;
    width: 1.25vw;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    border: 2px solid blue;
}
.text .line h1{
    color: blue;
    font-size: 15vh;
    font-weight: 300;
}
.line{
    height: fit-content;
    overflow: hidden;

}
.page1{
    padding-top: 8vh;
    padding-left: 10vw;
}
.counter{
    padding-left: 16vw;
}
.counter h1{
    color: blue;
    height: 15vh;
}
.loader{
    color: blue;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    border: 8px solid black;
    border-top: 8px solid blue;
    border-bottom: 8px solid blue;
}