*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main1{
height: 100vh;
width: 100vw;
background-color: black;
padding: 25vh 10vw;
z-index: 999;


}
.line{
    height: fit-content;
    overflow: hidden;
}
h1{
    color: rgba(26, 26, 211, 0.664);
    font-size: 10vh;
    text-transform: uppercase;
    font-weight: 600;
}
.loader{
    border: 10px solid rgba(0, 0, 0, 0.616);
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    
}